.formcontainer{
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
  width: 100vw;
  background: linear-gradient(to right, rgb(109, 111, 96), rgb(128, 132, 78));
  
}

.form input{
  width: 100%!important;
}